.primaryBtn {
  border: none;
  outline: none;

  padding: 7px 16px;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--blue);
  color: var(--text_white);
  cursor: pointer;

  &.outline {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--text_black);
  }

  &:hover {
    opacity: 0.95;
    color: var(--text_white);

    &.outline {
      color: var(--text_black);
    }
  }
}
