@use "../../styles/foundations/mixins.scss";

.app_layout {
  width: 100%;

  .app_main {
    width: 100%;
    max-height: calc(100vh - 60px);
    padding-left: 280px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;

    @include mixins.tablet {
      padding-left: 0;
    }

    &.s {
      padding-left: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}
