@use "../../styles/foundations/mixins.scss";

.sidebar {
  position: absolute;
  top: 60px;
  left: 0;

  height: calc(100vh - 60px);
  width: 280px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid var(--border_gray);
  background-color: var(--secoundary_bg);
  transition: left 0.3s ease-in-out;
  z-index: 10000;

  @include mixins.tablet {
    left: -280px;
    transition: left 0.3s ease-in-out;
  }

  &.sidebar_menu_open {
    left: 0;
  }

  .sidebar_menuSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;

    .sidebar_menuTitle {
      font-size: 14px;
      font-weight: 400;
      color: var(--text_gray);
      text-transform: uppercase;
    }

    .sidebar_menuContainer {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .sidebat_menuItem {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 4px;
        padding: 8px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &.active {
          background-color: var(--dark_light);
          transition: all 0.3s ease-in-out;

          svg {
            color: var(--text_black);
          }
          span {
            color: var(--text_black);
          }
        }

        &:hover {
          background-color: var(--dark_light);

          span {
            color: var(--text_black);
          }
        }

        svg {
          font-size: 18px;
          color: var(--text_black);
        }

        span {
          font-size: 16px;
          font-weight: 400;
          color: var(--text_black);
        }
      }
    }
  }
}
